<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/green.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-separator="---" data-separator-vertical="--" data-markdown>
					<script type="text/template">
						<img class="logo" height="150" src="img/logo.png" />
						#*Vue.js*


						<br>
						<small>by 李卫<br>2016.11.11</small>

						--

						<img class="logo" height="250" src="img/avatar.png" />
						- Vue.js（读音 /vjuː/, 类似于 view），来源法语

						- 发布于 2014 年 2 月，目前最新版本为 v2.0.5

						- 尤雨溪 Evan You，前 Meteor、Google 工程师
					</script>
				</section>
				<section>
					<section data-markdown>
						<script type="text/template">
							#*Vue.js 是什么？*
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							###一个 *MV VM* 框架

							<img class="logo" width="600" src="img/mvvm.png" />
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							###*Vue.js 的优点*

							- 上手简单
							<!-- .element: class="fragment" data-fragment-index="1" -->

							- 快速、高性能
							<!-- .element: class="fragment" data-fragment-index="2" -->

							- ~~作者长的帅~~
							<!-- .element: class="fragment fadeout" data-fragment-index="3" -->

							- 组件化
							<!-- .element: class="fragment fadeout" data-fragment-index="4" -->

							- 轻量而且没有外部依赖（*22.86*kb min+gzip）
							<!-- .element: class="fragment" data-fragment-index="5" -->

						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							<img class="logo" width="300" src="img/lizi.jpg" />

							###举个简单的栗子
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
						```html
						<div id="app">
							<input v-model="msg">
							<div>{{ msg ? msg : '请输入内容' }}</div>
						</div>
						```
						```javascript
						new Vue({
							el: '#app',
							data: {
								msg: ''
							}
						})
						```

						<iframe width="865" data-src="example/1.html"></iframe>
						</script>
					</section>
				</section>
				<section data-separator="---" data-separator-vertical="--" data-markdown>
					<script type="text/template">
					# *基础语法*
					--
					### *数据绑定*

					```html
					<ul id="app">
						<li v-for="value in object">
							{{ value }}
						</li>
					</ul>
					```
					```javascript
					new Vue({
						el: '#app',
						data: {
							object: {
								top: '好好学习',
								bottom: '天天向上'
							}
						}
					})
					```

					<iframe width="865" height="100" data-src="example/2.html"></iframe>

					--
					### *指令*

					```html
					<div id="app">
						<div v-if="seen">seen</div>
						<a v-bind:href="url" target="_blank">买买买</a>
						<div>
							<button v-on:click="doSomething">点我</button>
						</div>
					</div>
					```
					```javascript
					new Vue({
						el: '#app',
						data: {
							seen: false,
							url: 'http://www.taobao.com'
						},
						methods: {
							doSomething: function() {
								alert('Hello world!');
							}
						}
					})
					```
					--
					### *计算属性*

					```html
					<div id="app">
						first: <input v-model="first">
						last: <input v-model="last">
						full: <input v-model="full">
					</div>
					```
					```javascript
					new Vue({
						el: '#app',
						data: {
							first: 'Foo',
							last: 'Bar',
							full: 'FooBar'
						},
						computed: {
							full: {
								get: function () {
									return this.first + ' ' + this.last;
								},
								set: function (value) {
									var names = value.split(' ');
									this.first= names[0];
									this.last = names[names.length - 1];
								}
							}
						}
					})
					```
					--
					### *表单控件绑定*

					```html
					<div id="app">
						<span>{{ toggle }}</span>
						<input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">
						<input v-model.trim="msg">
					</div>
					```
					```javascript
					new Vue({
						el: '#app',
						data: {
							toggle: 'A',
							a: 'A',
							b: 'B',
							msg: ''
						}
					})
					```

					<iframe width="865" height="100" data-src="example/5.html"></iframe>
				  	</script>
				</section>
				<section data-separator="---" data-separator-vertical="--" data-markdown>
					<script type="text/template">
						#*组件化*
						--
						###*单文件组件*

						<img class="logo" src="img/vue.png" />

                    </script>
				</section>
				<section data-markdown>
					<script type="text/template">
						##参考资料
						<br>


						- [http://vuejs.org/](http://vuejs.org/)
						- [https://vuefe.cn/](https://vuefe.cn/)
						- [https://github.com/vuejs/awesome-vue](https://github.com/vuejs/awesome-vue)

                    </script>
				</section>
				<section data-markdown>
					<script type="text/template">
	                  	#*Q & A*
                    </script>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
