body {
	background-color: #3f3f3f;
	color: #dcdcdc;
	font-size: 20px;
	font-family: Monaco;
}

input {
	line-height: 30px;
	font-size: 20px;
	width: 150px;
}
div {
	line-height: 40px;
}
.result {
	color: #efef8f;
}
a {
	color: #36e139;
}